{% extends "base.html" %}

{% block css %}{% endblock %}
{% block js %}{% endblock %}

{% block content %}
    <div>
        <div class="panel" style="border-color: #cccccc">
            <div class="panel-heading" style="border-color: #cccccc; font-weight: bold;font-size: 16px;">Сменить пароль</div>
            <div class="panel-body">
                {% if msg == 1 %}
                    <div class="alert alert-success">Успешная смена пароля!</div>
                {% endif %}
                {% if msg == 2 %}
                    <div class="alert alert-danger">Ошибка! Введенные пароли не совпадают.</div>
                {% endif %}
                {% if msg == 3 %}
                    <div class="alert alert-danger">Ошибка! Вы ввели неправильный старый пароль.</div>
                {% endif %}
                <form action="/account/change/set/" method="POST">
                    {% csrf_token %}
                    <div>
                        Старый пароль:
                        <input type="text" class="form-control" style="width: 300px;" name="old_pass"/>
                    </div>
                    <div>
                        Новый пароль:
                        <input type="text" class="form-control" style="width: 300px;" name="new_pass"/>
                    </div>
                    <div>
                        Подтверждение:
                        <input type="text" class="form-control" style="width: 300px;" name="con_pass"/>
                    </div>
                    <input type="submit" value="Отправить" class="btn btn-primary" style="margin-top: 10px;"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}