{% extends "base.html" %}

{% block content %}
    <div>
    {% if mylist %}
        {% for list in mylist %}
            <div>
                <div class="panel" style="border-color: #ccc">
                    <div class="panel-body" style="padding-left: 15px;padding-bottom: 5px;padding-top: 10px;">
                        <div>
                            <b><a href="/report/{{ list.id }}">{{ list.title }}</a></b>
                        </div>
                        <div style="font-size:11px;color: #919191;padding-top: 5px;">
                            {{ list.creation_date|date:"d-m-Y G:i" }} | {{ list.creator }}
                            | <a href="/report/{{ list.id }}/edit/">Редактировать</a>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger">
                Сообщений нет! Вы можете добавить их <a href="/report/add/">здесь</a>
        </div>
    {% endif %}
    </div>
{% endblock %}